@import "colors";

nav{
    width: 100%;
    padding: 1rem;
    background-color: rgba(24, 0, 41,0.3);
    // background-color: rgba(147, 205, 255, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0%;
    z-index: 10;
    backdrop-filter: blur(10px);
    >h1{
    //    text-transform: uppercase;
    font-size: 1.7rem; 
    }

    > main{
        width: 85%;
        display: flex;
        justify-content: flex-end;

        > a{
            margin: 10px 30px;
            font-weight: 800;
            font-size: 1.2rem;
            letter-spacing: 0.5px;
            color: $pcolr;
        }
    }

}

#login{
    background-color: rgb(255, 85, 113);
    padding: 10px 25px;
    margin: 0 20px;
    border-radius: 10px;
}

#register{
    background-color: white;
    color: rgb(255, 85, 113);
    padding: 10px 17px;
    border-radius: 10px;
    margin: 0 20px 0 0px;
}